<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	default-autowire="byName">
	 
	<context:component-scan base-package="com.zz91.task.board"/>
 
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:persist.properties</value>
			</list>
		</property>
	</bean>
 
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialPoolSize" value="${jdbc.initialPoolSize}"/>
		<property name="minPoolSize" value="${jdbc.minPoolSize}" />
		<property name="maxPoolSize" value="${jdbc.maxPoolSize}" />
		<property name="acquireIncrement" value="${jdbc.acquireIncrement}" />
		<property name="maxIdleTime" value="${jdbc.maxIdleTime}"/> 
	</bean>
	<bean id="kkkkkkk" class="com.zz91.task.board.demo.SpringJob" init-method="initJob">
		
	</bean>
	<bean id="sqlMapClient"
		class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocations">
			<list>
				<value>classpath:/SqlMapConfig.xml</value>
			</list>
		</property>
		<property name="dataSource">
			<ref bean="dataSource"/>
		</property>
	</bean>

	<bean id="quartzScheduler"  class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >  
		<!--这里使用的是spring中配置的数据源-->
		<property name="dataSource">
			<ref bean="dataSource"/>
		</property>
		<!--如果要在quartz.properties文件中指定DataSource则要加apache common的 dbcp和pool的依赖-->
		<property name="configLocation">  
			<ref local="configLocationResource" />  
		</property>
		<property name="applicationContextSchedulerContextKey"  
			value="applicationContextKey" />  
		<property name="startupDelay" value="30"/>    
		<!--<property name="schedulerName" value="Mscheduler" /> 
			<property name="configLocation" value="classpath:quartz.properties"/>
			<property name="triggers">  
				<list>       
					<ref bean="cronReportTrigger"/>  
				</list>  
			</property>  
			-->
		
	</bean>  

	<bean id="configLocationResource"  
		class="org.springframework.core.io.ClassPathResource">  
		<constructor-arg value="quartz.properties"  
			type="java.lang.String">  
		</constructor-arg>  
	</bean>  
	
	<!--
			<bean id="jobChecker" class="com.zz91.task.board.job.JobChecker">
			<property name="schedulerServiceMem" ref="schedulerServiceMem"/>
		</bean>
		<bean id="cronReportTrigger"   
			class="org.springframework.scheduling.quartz.CronTriggerBean">  
			<property  name="jobDetail">
				<ref bean="jobChecker"/>  
			</property>  
			<property name="cronExpression">
				<value>0 0/1 * * * ?</value>    
			</property> 
		</bean>
		<bean id="schedulerServiceMem" class="com.zz91.task.board.service.impl.SchedulerServiceMemImpl"/>
			<bean id="jobChecker" class="org.springframework.scheduling.quartz.JobDetailBean">
				<property name="jobClass">
					<value>com.zz91.task.board.job.JobChecker</value>
				</property>	
				<property name="schedulerServiceMem" ref="schedulerServiceMem"/>
			</bean>
			定时器设定起动频率每分钟 
				<bean id="cronReportTrigger"   
					class="org.springframework.scheduling.quartz.CronTriggerBean">  
					<property  name="jobDetail">
						<ref bean="jobChecker"/>  
					</property>  
						<property name="cronExpression">
							<value>0 0/1 * * * ?</value>    
						</property> 
				</bean>  --> 
 
 
</beans> 